body {
    background: linear-gradient(to right, #F5CAC3, #F28482);
}
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    margin: 80px auto 0 auto;
    background: #2f82c525;
}
.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 360px;
    height: 120px;
    background: #8596AD;
    padding: 15px;
 
}

.inputs {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(5, 80px);
}

.one, .two, .three, .plus {
    grid-row: 4;
}

.four, .five, .six, .minus {
    grid-row: 3;
}

.seven, .eight, .nine, .mult {
    grid-row: 2;
}

.zero {
    grid-row: 5;
    grid-column: span 2;
}

.dot, .equal {
    grid-row: 5;
}

.clear {
    grid-row: 1;
    grid-column: span 2;
}

.delete, .divide {
    grid-row: 1;
}

.delete, .clear {
    background: #ffc5c4cc;
}

button {
    background: #ffffffbf;
    color: #394556;
    border: solid white 1px;
    outline: none;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
}


.operator {
    background: #ffd2ffcc;
}

button:hover {
    opacity: .8;
}

.history {
    color: #F0EDEE;
    font-size: 24px;
}

.res {
    color: #394556;
    font-size: 32px;
}

@media (max-width: 380px) {
    .wrapper {
        width: 240px;
    }
    .display {
        width: 240px;
        height: 80px;
        padding: 10px;
    }
    .inputs {
        display: grid;
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: repeat(5, 50px);
    }
    button {
        font-size: 20px;
    }
    .history {
        font-size: 18px;
    }
    .res {
        font-size: 26px;
    }
}