.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px black;
    width: 230px;
    margin: 80px auto 0 auto;
}
.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 220px;
    height: 50px;
    border: solid 2px black;
    margin-bottom: 5px;
    margin-top: 5px;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 300px;
    width: 220px;
    gap: 3px;
    border: solid 2px black;
    margin: 3px;
}

.one, .two, .three, .plus {
    grid-row: 4;
}

.four, .five, .six, .minus {
    grid-row: 3;
}

.seven, .eight, .nine, .mult {
    grid-row: 2;
}

.zero {
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.dot, .equal {
    grid-row: 5;
}

.clear {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.delete, .divide {
    grid-row: 1;
}

button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: medium;
}

.clear, .zero {
    width: 100px;
    border-radius: 50%;
}